<style>
	body { 
  background: url(<%= @url %>) 
  no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
</style>


<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <center>
      <div class="well curvy">
        <h1>Look Up Your Local Forecast</h1>
        <p>What's the weather like in your city?</p>
        <!-- A form to take city and state (INPUT PART) -->
        <div class="row">
          <%= form_tag index_path do %>
            <div class="col-md-6 col-md-offset-3">
              <%=  text_field_tag :city, nil, placeholder: "City Name", class: "form-control" %><br>
              <%= select_tag :state, options_for_select(@states),
                             :prompt => "Please select",
                             class: "form-control" %><br>
              <%= submit_tag "Check Weather", class: "btn btn-primary" %>
            </div>
          <% end %>
        </div>
      </div>
    </center>
  </div>

  <!-- We'll display the results below (DISPLAY PART) -->
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="well">
      <h1>Forecast for <%= @location %>:</h1>
      <div class="row">
        <div class="col-md-7">
          <p><em>What's the weather like?</em></p>
          <p>Temperature is: <%= @temp_f %>째 F / <%= @temp_c %>째 C</p>
          <p>
            Feels like: <%= @real_feel_f %>째 F / <%= @real_feel_c %>째 C
          </p>
        </div>
        <div class="col-md-5">
          <p><%= @weather_words %> <%= image_tag @weather_icon %></p>
          <p>
            <%=  link_to "Full Forecast", @forecast_link, target: "_blank" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


